Repository tektoncd/community, pull requests merged in 2021-11, with the labels that each got.

#553 Update VC Links for various WGs
  working-groups.md
Labels: lgtm, approved, size/S

#551 TEP-0069: Update the test plan.
  teps/0069-support-retries-for-custom-task-in-a-pipeline.md
Labels: size/XS, lgtm, approved, kind/tep

#552 TEP-0073: Update TEP with a link to a related github issue
  teps/0073-simplify-metrics.md
  teps/README.md
Labels: size/XS, lgtm, approved, kind/tep

#556 TEP-0094: Specifying resource requirements at runtime [Problem Statement]
  teps/0094-configuring-resources-at-runtime.md
  teps/README.md
Labels: size/M, lgtm, approved, kind/tep

#532 TEP-0090: Matrix [Problem Statement]
  teps/0090-matrix.md
  teps/README.md
Labels: lgtm, approved, size/XL, kind/tep

#528 TEP-0088: Tekton Results - Record Summaries
  README.md
  teps/0088-result-summaries.md
  teps/README.md
Labels: lgtm, approved, size/L, kind/tep

#558 Make "use cases" section required 📝
  teps/tools/tep-template.md.template
Labels: size/XS, lgtm, approved

#554 Require TEP-0044 before removing PipelineResources 🙋‍♀️
  teps/0074-deprecate-pipelineresources.md
  teps/README.md
Labels: lgtm, approved, size/S, kind/tep

#517 TEP-0083: Scheduled and Polling runs in Tekton
  teps/0083-scheduled-and-polling-runs-in-tekton.md
  teps/README.md
Labels: lgtm, approved, size/L, kind/tep

#562 Add Geri to website maintainers :tada:
  org/org.yaml
Labels: size/XS, lgtm, approved

#561 Add k8s API conventions to design principles ✍️
  design-principles.md
  teps/tools/tep-template.md.template
Labels: size/XS, lgtm, approved
