Repository tektoncd/community, pull requests merged in 2021-08, with the labels that each got.

#240 TEP-0048: task results without results - problem statement
  teps/0048-task-results-without-results.md
  teps/README.md
Labels: approved, kind/tep, lgtm, size/L

#488 TEP-0072 Results JSON Serialized Records: Mark as implementable.
  teps/0072-results-json-serialized-records.md
  teps/README.md
Labels: approved, kind/tep, lgtm, size/M

#492 Add @sm43 as a Triggers collaborator
  org/org.yaml
Labels: size/XS, lgtm, approved

#490 Update 0058-graceful-pipeline-run-termination.md
  teps/0058-graceful-pipeline-run-termination.md
Labels: size/XS, lgtm, approved, kind/tep

#481 TEP-0059: Skipping Strategies - Migration Plan
  teps/0059-skipping-strategies.md
  teps/README.md
Labels: lgtm, approved, size/S, kind/tep

#497 Use `stopAndFail` instead of `fail` with `onError` 🧐
  teps/0040-ignore-step-errors.md
Labels: size/XS, lgtm, approved, kind/tep

#496 changing TEP-0040 to implemented
  teps/0040-ignore-step-errors.md
  teps/README.md
Labels: lgtm, approved, size/S, kind/tep

#500 Fix link to chains calendar event 📅
  working-groups.md
Labels: size/XS, lgtm, approved

#501 Add .venv to gitignore
  .gitignore
Labels: size/XS, lgtm, approved, kind/cleanup

#498 TEP-0056: Pipelines in Pipelines - Add Use Case
  teps/0056-pipelines-in-pipelines.md
  teps/README.md
Labels: size/M, lgtm, approved, kind/tep

#499 Add design and test details to TEP0057
  teps/0057-windows-support.md
Labels: lgtm, approved, size/S, kind/tep

#493 TEP-0060: Propose remote resolution experimental controller
  teps/0060-remote-resource-resolution.md
  teps/README.md
Labels: lgtm, approved, size/L, kind/tep
