Repository tektoncd/community, pull requests merged in 2022-08, with the labels that each got.

#761 [TEP-0112] Add some more alternatives
  teps/0112-replace-volumes-with-workspaces.md
  teps/README.md
Labels: lgtm, approved, size/L, kind/tep

#764 [TEP-0096] Propose deprecating ClusterTask
  teps/0096-pipelines-v1-api.md
  teps/README.md
Labels: lgtm, approved, size/S, kind/tep

#593 TEP-0047: Update and move to implementable
  teps/0047-pipeline-task-display-name.md
  teps/README.md
Labels: size/M, lgtm, approved, kind/tep

#769 [TEP-0096] Leave step compute resources in beta
  teps/0096-pipelines-v1-api.md
Labels: size/XS, lgtm, approved, kind/tep

#771 [TEP-0096] Upgrade tests as v1 blocker
  teps/0096-pipelines-v1-api.md
Labels: size/XS, lgtm, approved, kind/tep

#772 [TEP-0048] Add Proposed design details
  teps/0048-task-results-without-results.md
  teps/README.md
Labels: lgtm, approved, size/L

#774 TEP-0118: Matrix with Explicit Combinations of Parameters
  teps/0118-matrix-with-explicit-combinations-of-parameters.md
  teps/README.md
  teps/images/0118-matrix-kaniko-with-images-and-dockerfile.jpg
  teps/images/0118-matrix-kaniko-with-images.jpg
Labels: lgtm, approved, size/XL, kind/tep

#777 add arhell to tektoncd members
  org/org.yaml
Labels: size/XS, lgtm, approved

#765 [TEP-0096] Remove reference to parameterizing more fields
  teps/0096-pipelines-v1-api.md
Labels: size/XS, lgtm, approved, kind/tep

#775 [TEP-0096] Rename taskResults/pipelineResults
  teps/0096-pipelines-v1-api.md
Labels: size/XS, lgtm, approved, kind/tep

#779 [TEP-0116] implemented
  teps/0116-referencing-finally-task-results-in-pipeline-results.md
  teps/README.md
Labels: size/XS, lgtm, approved

#770 TEP-0084: Add remaining sections for pipelinerun attestations
  teps/0084-endtoend-provenance-collection.md
Labels: lgtm, approved, size/XL, kind/tep

#776 [TEP-0104]: Update case with limits but no requests
  teps/0104-tasklevel-resource-requirements.md
  teps/README.md
Labels: lgtm, approved, size/S, kind/tep

#778 Update Triggers WG frequency and facilitators
  working-groups.md
Labels: lgtm, approved, size/L

#780 Added implementation pull request and issues
  teps/0116-referencing-finally-task-results-in-pipeline-results.md
Labels: size/XS, lgtm, approved

#768 [TEP-0086] Add details for OIDC Storage API
  teps/0086-changing-the-way-result-parameters-are-stored.md
Labels: size/M, lgtm, approved, kind/tep

#739 [TEP-0091]Trusted Resources
  teps/0091-trusted-resources.md
  teps/README.md
Labels: lgtm, approved, size/L, kind/tep

#789 TEP-0084: Move to implementable state
  teps/0084-endtoend-provenance-collection.md
  teps/README.md
Labels: size/XS, lgtm, approved

#756 TEP-0115: Tekton Catalog Git-Based Versioning
  teps/0115-tekton-catalog-git-based-versioning.md
  teps/README.md
Labels: lgtm, approved, size/XL, kind/tep

#787 Mark TEP 0070 as implemented.
  teps/0070-tekton-catalog-task-platform-support.md
  teps/README.md
Labels: size/XS, lgtm, approved

#782 update links from http to https
  LICENSE
  governance.md
  hack/tep-number.sh
  hack/update-toc.sh
  org/collaborator.py
  teps/0033-tekton-feature-gates.md
  teps/0037-remove-gcs-fetcher.md
  teps/0067-tekton-catalog-pipeline-organization.md
  teps/0075-object-param-and-result-types.md
  teps/tools/Dockerfile
  teps/tools/teps.py
Labels: size/M, lgtm, approved

#790 Fix typo in link to tekton-dev@.
  working-groups.md
Labels: size/XS, lgtm, approved

#759 TEP-0117: Tekton Results Logs
  teps/0117-tekton-results-logs.md
  teps/README.md
Labels: lgtm, approved, size/L, kind/tep

#707 Add more details for param variable replacement as a whole in TEP076
  teps/0076-array-result-types.md
Labels: size/M, lgtm, approved, kind/tep

#796 Add alhuizenga to tektoncd members list
  org/org.yaml
Labels: size/XS, lgtm, approved

#791 [TEP-0120] Canceling Concurrent PipelineRuns
  teps/0120-canceling-concurrent-pipelineruns.md
  teps/README.md
Labels: lgtm, approved, size/L, kind/tep

#711 TEP-0075: Add design proposal to handle edge cases
  teps/0075-object-param-and-result-types.md
Labels: size/M, lgtm, approved, kind/tep

#812 Add adambkaplan to the tektoncd org
  org/org.yaml
Labels: size/XS, lgtm, approved
