Repository tektoncd/community, pull requests merged in 2022-05, with the labels that each got.

#689 [TEP-0102] Mark as implementable with some design details update
  teps/0102-https-connection-to-triggers-interceptor.md
  teps/README.md
Labels: size/M, lgtm, approved, kind/tep

#675 TEP-0107: Propagating Parameters
  teps/0023-implicit-mapping.md
  teps/0107-propagating-parameters.md
  teps/README.md
Labels: lgtm, approved, size/XL, kind/tep

#699 Add @lbernick to TEP OWNERS
  teps/OWNERS
Labels: size/XS, lgtm, approved

#700 TEP-0103: Skipping Reason - Implemented
  teps/0103-skipping-reason.md
  teps/README.md
  teps/images/0103-slack-thread.png
Labels: lgtm, approved, size/S

#691 Update TEP 0081 status
  teps/0081-add-chains-subcommand-to-the-cli.md
  teps/README.md
Labels: lgtm, approved, size/L

#698 TEP-0056: Pipelines in Pipelines [Problem Statement]
  teps/0056-pipelines-in-pipelines.md
  teps/README.md
  teps/images/0056-slack-thread.png
Labels: lgtm, approved, size/XL

#695 TEP-0106: Support Specifying Metadata per Task in Runtime
  teps/0106-support-specifying-metadata-per-task-in-runtime.md
  teps/README.md
Labels: lgtm, approved, size/L, kind/tep

#658 [TEP-0101] Env in POD template
  teps/0101-env-in-pod-template.md
  teps/README.md
Labels: lgtm, approved, size/XL, kind/tep

#704 Add Lyndsey to dashboard.maintainers
  org/org.yaml
Labels: size/XS, lgtm, approved

#709 Add @chitrangpatel to resolution maintainers
  org/org.yaml
Labels: size/XS, lgtm, approved

#702 Update TEP-0106 Status as Implementable
  teps/0106-support-specifying-metadata-per-task-in-runtime.md
  teps/README.md
Labels: size/XS, lgtm, approved, kind/misc, kind/tep

#710 Update design principles guidance on conformance
  design-principles.md
  teps/tools/tep-template.md.template
Labels: lgtm, approved, size/S

#712 TEP-0107: Propagating Parameters - Implemented
  teps/0107-propagating-parameters.md
  teps/README.md
Labels: lgtm, approved, size/S, kind/tep

#713 TEP-0108: Mapping Workspaces - Implemented
  teps/0108-mapping-workspaces.md
  teps/README.md
Labels: size/XS, lgtm, approved, kind/tep

#717 TEP-0106: Update as "Implemented"
  teps/0106-support-specifying-metadata-per-task-in-runtime.md
  teps/README.md
Labels: size/XS, lgtm, approved, kind/tep

#718 Add wlynch as chains maintainer
  org/org.yaml
Labels: size/XS, lgtm, approved
