Repository tektoncd/community, pull requests merged in 2022-02, with the labels that each got.

#620 Add @vinamra28 as Hub Maintainer
  org/org.yaml
Labels: size/XS, lgtm, approved

#610 [TEP-0044]: Refocus on Execution Options
  teps/0044-data-locality-and-pod-overhead-in-pipelines.md
  teps/README.md
Labels: lgtm, approved, size/S, kind/tep

#615 Add lbernick to Pipeline collaborators
  org/org.yaml
Labels: size/XS, lgtm, approved

#612 Add resolution repo to org.yaml
  org/org.yaml
Labels: lgtm, approved, size/S

#624 Remove Dibyo from members list of resolution.maintainers
  org/org.yaml
Labels: size/XS, lgtm, approved

#621 Add crshnburn to Org
  org/org.yaml
Labels: size/XS, lgtm, approved

#623 Update Chains facilitator rotation
  working-groups.md
Labels: lgtm, approved, size/S

#619 Add some more SPIRE details to TEP0089
  teps/0089-nonfalsifiable-provenance-support.md
Labels: size/M, lgtm, approved

#586 [TEP-0044] Update Alternatives
  teps/0044-data-locality-and-pod-overhead-in-pipelines.md
  teps/README.md
Labels: lgtm, approved, size/XL, kind/tep

#625 TEP-0025: API change - use string alias instead of bool
  teps/0025-hermekton.md
Labels: lgtm, approved, size/S, kind/tep

#613 TEP-0079: Tekton Catalog Support Tiers [Catalog Annotations]
  teps/0079-tekton-catalog-support-tiers.md
Labels: size/M, lgtm, approved, kind/tep

#632 Give back temp maintainer status now that 0.32 is released
  org/org.yaml
Labels: size/XS, lgtm, approved, kind/misc

#600 TEP-0090: Matrix [Proposal]
  teps/0090-matrix.md
  teps/README.md
Labels: lgtm, approved, size/XXL, kind/tep

#628 [TEP-0044]: Add details on Hermekton
  teps/0044-data-locality-and-pod-overhead-in-pipelines.md
  teps/README.md
Labels: size/M, lgtm, approved, kind/tep

#477 [TEP-0076] Propose array results and indexing 🐠
  teps/0076-array-result-types.md
  teps/README.md
Labels: lgtm, approved, size/XL, kind/tep

#631 [TEP-0044]: Controller role in scheduling TaskRuns
  teps/0044-data-locality-and-pod-overhead-in-pipelines.md
  teps/README.md
Labels: size/M, lgtm, approved, kind/tep

#479 [TEP-0075] Propose object (dictionary) param and result types 🤓
  teps/0075-object-param-and-result-types.md
  teps/README.md
Labels: lgtm, approved, size/XL, kind/tep

#616 TEP-0100: Embedded TaskRuns and Runs Status in PipelineRuns [Proposal]
  teps/0100-embedded-taskruns-and-runs-status-in-pipelineruns.md
  teps/README.md
Labels: lgtm, approved, size/XL, kind/tep

#634 Update details of docs working group
  working-groups.md
Labels: size/XS, lgtm, approved

#633 Add supply chain security (s3c) working group to list 👷‍♀️
  working-groups.md
Labels: lgtm, approved, size/S

#635 TEP-0900: Update related TEPs references
  teps/0090-matrix.md
Labels: size/M, lgtm, approved, kind/tep

#638 [TEP-0096]: Update to reflect deprecated features
  teps/0096-pipelines-v1-api.md
Labels: size/XS, lgtm, approved
