Repository tektoncd/community, pull requests merged in 2022-09, with the labels that each got.

#728 [TEP Process] TEPs may be merged offline
  teps/README.md
  teps/README.md.mustache
Labels: lgtm, approved, size/L

#729 [TEP Process] Add "Collaborators" option
  teps/README.md
  teps/README.md.mustache
  teps/tools/README.md
  teps/tools/teps.py
Labels: lgtm, approved, size/S, kind/tep

#783 TEP of adding pipelinerun.spec.taskrunspectemplate
  teps/0119-add-taskrun-template-in-pipelinerun.md
  teps/README.md
Labels: lgtm, approved, size/L, kind/tep

#815 TEP-0114: Custom Tasks Beta - Remove Pod Template
  teps/0114-custom-tasks-beta.md
Labels: size/XS, lgtm, approved, kind/tep

#798 TEP-0096: Rename compute resources fields
  teps/0096-pipelines-v1-api.md
Labels: lgtm, approved, size/S, kind/tep

#817 TEP-0075: More flexible ways to provide values for object param
  teps/0075-object-param-and-result-types.md
Labels: size/M, lgtm, approved, kind/tep

#821 TEP-0111: Propagated Workspaces - Mark as Implemented
  teps/0111-propagating-workspaces.md
  teps/README.md
Labels: lgtm, approved, size/S

#825 add dlbewley to tektoncd org
  org/org.yaml
Labels: size/XS, lgtm, approved

#788 [TEP-0091]Update TEP-0091 to implementable
  teps/0091-trusted-resources.md
  teps/README.md
Labels: lgtm, approved, size/L, kind/tep

#826 org: update cli maintainers and reviewers
  org/org.yaml
Labels: size/XS, lgtm, approved

#824 add basavaraju the tektoncd org
  org/org.yaml
Labels: size/XS, lgtm, approved

#785 [TEP-0050] Add proposed design details
  teps/0050-ignore-task-failures.md
  teps/README.md
Labels: lgtm, approved, size/L, kind/tep

#827 Add website collaborators
  org/org.yaml
Labels: size/XS, lgtm, approved

#819 introducing a new section in standards - release notes
  standards.md
Labels: size/M, lgtm, approved

#792 TEP 0109: Better structured provenance retrieval in Tekton Chains
  teps/0109-better-structured-provenance-retrieval-in-tekton-chains.md
  teps/README.md
Labels: lgtm, approved, size/L, kind/tep

#822 [TEP-096] Update renamed fields
  teps/0096-pipelines-v1-api.md
Labels: size/XS, lgtm, approved, kind/tep

#833 Mark tep75&76 implemented
  teps/0075-object-param-and-result-types.md
  teps/0076-array-result-types.md
  teps/README.md
Labels: size/M, lgtm, approved, kind/tep

#813 Update Roadmap section.
  roadmap.md
Labels: lgtm, approved, size/S, kind/documentation

#834 Callout publicly known CVEs for release notes
  standards.md
Labels: size/XS, lgtm, approved

#829 Add pull request best practices
  .gitignore
  process.md
Labels: lgtm, approved, size/S
