Repository tektoncd/community, pull requests merged in 2022-11, with the labels that each got.

#816 TEP-0121: Refine Retries for TaskRuns and CustomRuns
  teps/0121-refine-retries-for-taskruns-and-customruns.md
  teps/README.md
Labels: lgtm, approved, size/L, kind/tep

#869 Add ak1394 to org
  org/org.yaml
Labels: size/XS, lgtm, approved

#846 [TEP-0093] Add sign and verify subcommand to the CLI
  teps/0093-add-sign-verify-subcommand-to-the-cli.md
  teps/README.md
Labels: lgtm, approved, size/L, kind/tep

#832 Add chains.admin group.
  org/org.yaml
Labels: size/XS, lgtm, approved

#870 [TEP-0098] Update Problem Statement
  teps/0098-workflows.md
  teps/README.md
Labels: lgtm, approved, size/L, kind/tep

#823 TEP-0123 - proposal to specify on-demand-retry in a pipelineTask
  teps/0123-specifying-on-demand-retry-in-pipelinetask.md
  teps/README.md
  teps/images/0123-cd-use-case.png
  teps/images/0123-ci-use-case.png
Labels: lgtm, approved, size/L, kind/tep

#879 TEP-0121: Retries - Move to Implementable
  teps/0121-refine-retries-for-taskruns-and-customruns.md
  teps/README.md
Labels: lgtm, approved, size/L, kind/tep

#880 TEP-0114: Keep `Retries` and `RetriesStatus` in the Scope
  teps/0114-custom-tasks-beta.md
  teps/README.md
Labels: lgtm, approved, size/S

#876 [TEP-96] Add migration plan for v1
  teps/0096-pipelines-v1.md
Labels: size/XS, lgtm, approved, kind/tep

#871 [TEP-0079] Image Scanning for CVEs
  teps/0079-tekton-catalog-support-tiers.md
  teps/README.md
Labels: lgtm, approved, size/L, kind/tep

#874 [TEP-0115] Use SemVer in Catalog
  teps/0115-tekton-catalog-git-based-versioning.md
  teps/README.md
Labels: size/M, lgtm, approved, kind/tep

#867 TEP-0114: Support Both V1alpha1 and V1beta1 for Custom Task in the Initial Release
  teps/0114-custom-tasks-beta.md
  teps/README.md
Labels: lgtm, approved, size/S, kind/tep

#886 Add TEP-0086 Working Group
  working-groups.md
Labels: lgtm, approved, size/S
