Repository tektoncd/community, pull requests merged in 2023-03, with the labels that each got.

#971 Move inactive Pipelines reviewers to alumni
  org/org.yaml
Labels: lgtm, approved, size/S

#943 TEP-0130: Pipeline-level service
  teps/0130-pipeline-level-service.md
  teps/README.md
Labels: lgtm, approved, size/XL, kind/tep

#972 [TEP-0133] Configure Default Resolver
  teps/0133-configure-default-resolver.md
  teps/README.md
Labels: lgtm, approved, size/L, kind/tep

#973 Move inactive Pipelines reviewers to alumni (part 2)
  org/org.yaml
Labels: size/M, lgtm, approved

#970 Code standards: Add notes on releasable state
  standards.md
Labels: lgtm, approved, size/S

#976 Add JeromeJu to Reviewers
  org/org.yaml
Labels: size/XS, lgtm, approved

#949 [TEP-0091] Update trusted resources feature flag and add condition
  teps/0091-trusted-resources.md
  teps/README.md
Labels: lgtm, approved, size/L, kind/tep

#978 Add chitrangpatel to Pipeline reviewers.
  org/org.yaml
Labels: size/XS, lgtm, approved

#979 Add lcarva to chains maintainers. 🎉
  org/org.yaml
Labels: size/XS, lgtm, approved

#955 TEP-0131: Tekton Conformance Policy
  teps/0131-tekton-conformance-policy.md
  teps/README.md
  teps/images/0131-benefits-of-tekton-conformance-policy.png
  teps/images/0131-conformance-vs-compatibility-policy.png
Labels: lgtm, approved, size/L, kind/tep

#983 Update collaborator.py with updated gov board
  org/collaborator.py
Labels: size/XS, lgtm, approved

#980 Update org.yaml and governance.md with Gov Board 2023 election results.
  governance.md
  org/org.yaml
Labels: lgtm, approved, size/L

#984 Add `deferred` state for TEPs
  teps/0001-tekton-enhancement-proposal-process.md
Labels: lgtm, approved, size/S

#987 TEP-0041: Tekton Component Versioning - Mark as Implemented
  teps/0041-tekton-component-versioning.md
  teps/README.md
Labels: size/XS, lgtm, approved, kind/tep

#986 TEP-0027: HTTPS Connection To Triggers EventListener - Mark as Implemented
  teps/0027-https-connection-to-triggers-eventlistener.md
  teps/README.md
Labels: size/XS, lgtm, approved, kind/tep

#991 TEP-0105: Remove Pipeline v1alpha1 API - Mark as Implemented
  teps/0105-remove-pipeline-v1alpha1-api.md
  teps/README.md
Labels: lgtm, approved, size/S

#990 [TEP-0133] Mark TEP-0133 as implemented
  teps/0133-configure-default-resolver.md
  teps/README.md
Labels: lgtm, approved, size/S, kind/tep

#903 Mark TEP-0084 implemented
  teps/0084-endtoend-provenance-collection.md
  teps/README.md
Labels: lgtm, approved, size/S, kind/tep

#992 TEP-0074: Deprecate PipelineResources - Mark as Implemented
  teps/0074-deprecate-pipelineresources.md
  teps/README.md
Labels: size/XS, lgtm, approved, kind/tep

#988 TEP-0067: Tekton Catalog Pipeline Organization - Mark as Implemented
  teps/0067-tekton-catalog-pipeline-organization.md
  teps/README.md
Labels: size/XS, lgtm, approved, kind/tep

#997 [Code standards] Clarify expectations for modular unit tests
  standards.md
Labels: size/XS, lgtm, approved

#994 TEP-0117: Tekton Results Logs - Mark as Implemented
  teps/0117-tekton-results-logs.md
  teps/README.md
Labels: size/XS, lgtm, approved, kind/tep

#995 TEP-0072: Results: JSON Serialized Records - Mark as Implemented
  teps/0072-results-json-serialized-records.md
  teps/README.md
Labels: size/XS, lgtm, approved, kind/tep

#998 Change deprecated Prow links
  process/README.md
Labels: size/XS, lgtm, approved
