Repository tektoncd/community, pull requests merged in 2024-02, with the labels that each got.

#1086 TEP-0148: Summary/Aggregation API for Tekton Results
  teps/0148-summaryaggregation-api-for-tekton-results.md
  teps/README.md
Labels: lgtm, approved, size/XL, kind/tep

#1101 TEP-0149: Tekton CLI Local Data Upload
  teps/0149-tekton-cli-local-data-upload.md
  teps/README.md
  teps/images/0149-tekton-cli-local-data-upload.png
Labels: lgtm, approved, size/L, kind/tep

#1131 Adding Sudhish and Satyam to org
  org/org.yaml
Labels: size/XS, lgtm, approved, kind/misc

#1122 TEP-0150 `displayName` in matrix
  teps/0150-displayname-in-matrix.md
  teps/README.md
  teps/images/0150-pipelinerun-with-matrix.png
  teps/images/0150-pipelinerun-with-some-failed-instances-of-matrix.png
Labels: lgtm, approved, size/L, kind/tep

#1126 TEP-0151: Error Attribution via Condition Status
  teps/0151-error-attribution-via-condition-status.md
  teps/README.md
Labels: size/M, lgtm, approved, kind/tep

#1125 TEP-0147: Tekton Artifacts phase 1
  teps/0147-tekton-artifacts-phase1.md
  teps/README.md
Labels: lgtm, approved, size/L, kind/tep

#1133 Mark TEP0138 as implemented
  teps/0138-decouple-api-and-feature-versioning.md
  teps/README.md
Labels: lgtm, approved, size/S

#1055 [TEP-0153] Migration of Tekton Results to V1 APIs of Pipelines
  teps/0153-v1-migration-for-tekton-results.md
  teps/README.md
Labels: lgtm, approved, size/L, kind/tep

#1135 chore: add shipit to the tekton org
  org/org.yaml
Labels: size/XS, lgtm, approved
