Repository tektoncd/community, pull requests merged in 2025-02, with the labels that each got.

#1177 chore: add l-qing to tekton org
  org/org.yaml
Labels: size/XS, lgtm, approved

#1178 Updates working-groups.md according to tekton-dev announcement
  working-groups.md
Labels: lgtm, approved, size/L, kind/misc

#1183 TEP: Mark TEP-0063 as withdrawn
  teps/0063-workspace-dependencies.md
  teps/README.md
Labels: lgtm, approved, size/S, kind/tep

#1180 TEP: Mark TEP-0032 as deferred
  teps/0032-tekton-notifications.md
  teps/README.md
Labels: lgtm, approved, size/S, kind/tep

#1182 TEP: Mark TEP-0044 as withdraw
  teps/0044-data-locality-and-pod-overhead-in-pipelines.md
  teps/README.md
Labels: size/XS, lgtm, approved, kind/tep

#1185 TEP: Mark TEP-0071 as deferred
  teps/0071-custom-task-sdk.md
  teps/README.md
Labels: lgtm, approved, size/S, kind/tep

#1181 TEP: Mark TEP-0038 as withdraw
  teps/0038-generic-workspaces.md
  teps/README.md
Labels: lgtm, approved, size/S, kind/tep

#1184 teps/tools: switch to using `uv`
  teps/tools/.python-version
  teps/tools/Dockerfile
  teps/tools/pyproject.toml
  teps/tools/uv.lock
Labels: size/M, lgtm, approved

#1186 TEP: Mark TEP-0044 as withdrawn
  teps/0044-data-locality-and-pod-overhead-in-pipelines.md
  teps/README.md
Labels: size/XS, lgtm, approved
